.formulario-orcamento {
  display: grid;
  gap: 60px;
  margin-top: 80px;
  justify-items: center;
}

.formulario-orcamento > ul {
  display: flex;
  gap: 28px;
}

.formulario-orcamento form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.formulario-orcamento input {
  font-size: 20px;
}

.formulario-orcamento input:focus,
.formulario-orcamento textarea:focus {
  border: 2px outset var(--p5);
}

.formulario-orcamento label {
  grid-column: 1;
}

.formulario-orcamento input {
  padding: 8px 20px;
  margin: 12px 0 12px 0;
}

.formulario-orcamento textarea,
.formulario-orcamento input[type="email"] {
  padding: 8px 20px;
  margin: 12px 0 0 0;
}

.formulario-orcamento label[for="descricao"] {
  grid-row: 1;
  grid-column: 2;
  margin-left: 60px;
}
.formulario-orcamento textarea {
  margin-left: 60px;
  grid-column: 2;
  grid-row: 2 / 7;
  resize: none;
  font-size: 20px;
}
.formulario-orcamento > a {
  background: var(--grad0);
  padding: 17px 34px;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .formulario-orcamento ul {
    display: none;
  }
  .formulario-orcamento form {
    grid-template-columns: 1fr;
  }
  .formulario-orcamento input {
    font-size: 16px;
  }
  .formulario-orcamento label[for="descricao"] {
    grid-column: 1;
    margin-left: 0px;
    grid-row: 8;
  }

  .formulario-orcamento textarea {
    grid-column: 1;
    margin-left: 0px;
    grid-row: 9;
    font-size: 16px;
  }
}
