.home-introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home-introducao > picture {
  z-index: 0;
}
.home-introducao-foto > img {
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
}
.home-introducao-texto {
  display: grid;
  align-content: start;
  justify-items: center;
  margin-top: 80px;
}
.home-introducao-texto h1 {
  position: relative;
}
.home-introducao-texto h1::after {
  position: absolute;
  content: "";
  width: 80%;
  height: 2px;
  background-color: var(--p4);
  bottom: -2px;
  left: 10%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.home-introducao-texto p {
  margin-top: 40px;
  max-width: 35ch;
  text-align: center;
}

.home-introducao-texto a {
  margin-top: 60px;
  padding: 10px 20px;
  background: var(--grad0);
  border-radius: 5px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}
