.home-introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home-introducao-foto {
  z-index: 0;
}
.home-introducao-foto > img {
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
}
.home-introducao-texto {
  display: grid;
  align-content: start;
  justify-items: center;
  margin-top: 80px;
}

@media (max-width: 767px) {
  h1::after {
    bottom: -6px;
  }
}

.home-introducao-texto p {
  margin-top: 40px;
  max-width: 35ch;
  text-align: center;
}

.home-introducao-texto a {
  margin-top: 60px;
  padding: 10px 20px;
  background: var(--grad0);
  border-radius: 5px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}
@media (max-width: 1023px) {
  .home-introducao {
    display: grid;
    grid-template-columns: 1fr;
  }
  .home-introducao-foto {
    display: none;
  }
  .home-introducao-texto {
    margin-top: 32px;
  }
  .home-introducao-texto p {
    max-width: 40ch;
  }
  .home-introducao-texto a {
    margin-top: 32px;
  }
}

@media (max-width: 767px) {
  .home-introducao-texto p {
    max-width: 30ch;
  }
}

.home-fotos {
  display: grid;
  justify-items: center;
  padding-top: 120px;
}

.home-fotos > p {
  align-self: center;
  margin-top: 60px;
  max-width: 960px;
}

.home-fotos > picture {
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  justify-content: center;
  margin-top: 40px;
  gap: 40px;
}
.home-fotos img {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  object-fit: cover;
}
.home-fotos a {
  padding: 10px 20px;
  margin-top: 64px;
  background: var(--grad2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

@media (max-width: 1200px) {
  .home-fotos {
    padding-top: 80px;
  }
  .home-fotos img {
    max-width: 30%;
  }
}

@media (max-width: 1023px) {
  .home-fotos p {
    text-align: center;
  }
  .home-fotos picture {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 250px;
  }
  .home-fotos img {
    max-width: 100%;
    height: 250px;
  }
  .home-fotos img:last-child {
    grid-column: span 2;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .home-fotos picture {
    display: flex;
    gap: 20px;
    justify-content: start;
  }
  .home-fotos img {
    width: 45%;
  }
  .home-fotos img:last-child {
    display: none;
  }
}

.home-comentario {
  background-color: var(--p0);
  padding: 80px 0;
  margin-top: 80px;
}

.home-comentario > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 140px;
  align-items: start;
  justify-items: center;
}

.home-comentario-foto > img {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  object-fit: cover;
}

.home-comentario-texto {
  display: grid;
  position: relative;
  padding-top: 46px;
  text-align: center;
}

.home-comentario-detalhe {
  position: absolute;
  bottom: 80px;
  right: 0px;
}

.home-comentario-detalhe:first-child {
  top: 36px;
  left: -82px;
}

.home-comentario-texto blockquote {
  margin-top: 66px;
  justify-self: end;
}

@media (max-width: 1200px) {
  .home-comentario-detalhe {
    display: none;
  }
  .home-comentario > div {
    gap: 60px;
  }
}

@media (max-width: 767px) {
  .home-comentario {
    padding: 40px 0;
    margin-top: 80px;
  }

  .home-comentario > div {
    grid-template-columns: 1fr;
    gap: 0px;
  }
  .home-comentario-foto > img {
    height: 50%;
  }
  .home-comentario-texto > blockquote {
    margin-top: 40px;
  }
}

.home-mapa {
  display: grid;
  justify-items: center;
  background-color: var(--p2);
  padding: 168px 0 60px 0;
  margin-top: 144px;
  position: relative;
}

.home-mapa > span {
  position: absolute;
  top: -64px;
  background: -webkit-linear-gradient(var(--p2) 50%, var(--c1) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-mapa > h1 {
  display: none;
}

.home-mapa iframe {
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  width: calc(100vw - 280px);
  height: 520px;
}

.home-mapa p {
  margin-top: 60px;
  text-align: center;
}

@media (max-width: 1200px) {
  .home-mapa {
    padding-top: 96px;
    padding-bottom: 48px;
    margin-top: 96px;
  }
  .home-mapa > span {
    top: -40px;
  }
  .home-mapa p {
    margin-top: 48px;
  }
}

@media (max-width: 1023px) {
  .home-mapa {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 64px;
  }
  .home-mapa > span {
    display: none;
  }
  .home-mapa h1 {
    display: block;
  }
  .home-mapa iframe {
    margin-top: 40px;
    width: calc(100vw - 40px);
    height: 360px;
  }
}
