.moveis {
  display: grid;
  justify-items: center;
}

.moveis > h1 {
  margin-top: 60px;
}

.moveis > p {
  margin-top: 52px;
}

.moveis-fotos {
  margin-top: 64px;
  display: grid;
  justify-items: start;
}

.moveis-fotos h2:nth-child(1n + 2) {
  margin-top: 80px;
}

.moveis-segura-fotos {
  display: flex;
  margin-top: 32px;
  gap: 60px;
}

.moveis-segura-fotos img {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

@media (max-width: 767px) {
  .moveis-segura-fotos {
    flex-direction: column;
    gap: 40px;
  }

  .moveis-segura-fotos picture,
  .moveis-segura-fotos img {
    height: calc(360px / 2);
  }
}
