* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--c1);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul,
li {
  list-style: none;
}

input,
textarea {
  border-radius: 5px;
  border: 2px solid var(--c2);
  outline: none;
}
