.sobre-intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: start;
  gap: 100px;
}

.sobre-intro-texto {
  display: grid;
  align-content: center;
  justify-content: end;
  justify-items: center;
  margin-top: 80px;
}

.sobre-intro-texto p {
  margin-top: 44px;
  max-width: 30ch;
}

.sobre-intro img {
  object-position: right bottom;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 27% 100%);
}

@media (max-width: 1023px) {
  .sobre-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .sobre-intro-texto {
    margin-top: 40px;
  }
  .sobre-intro-texto p {
    padding: 0 5vw;
    max-width: 50ch;
    text-align: center;
  }
  .sobre-intro picture {
    margin: 40px 5vw 0 5vw;
  }
  .sobre-intro img {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    border-radius: 5px;
    max-height: 230px;
    min-height: 200px;
  }
}
.sobre-motivos {
  margin-top: 120px;
  padding-top: 80px;
  background-color: var(--p8);
}

.sobre-motivos-item {
  display: grid;
  justify-items: center;
}

.sobre-motivos-item > div {
  margin-top: 100px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--p8);
  align-items: start;
  gap: 100px;
}
.sobre-motivos-item > div > div {
  margin-top: 8px;
}

.sobre-motivos-item img {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.sobre-motivos-item p {
  margin-top: 32px;
}

#motivo2,
#motivo2 > div {
  background-color: var(--c1);
}

@media (max-width: 1023px) {
  .sobre-motivos {
    margin-top: 64px;
    padding-top: 64px;
  }
  .sobre-motivos-item > div {
    gap: 60px;
  }
  .sobre-motivos-item > div > div {
    margin-top: 12px;
  }
}

@media (max-width: 767px) {
  .sobre-motivos-item > div {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    gap: 24px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .sobre-motivos-item picture {
    grid-row: 3;
    height: 200px;
  }
  .sobre-motivos-item img {
    height: 200px;
  }

  #motivo2 img {
    object-position: bottom center;
  }
}
