.f1xxl {
  font: 600 128px/128px "Montserrat";
  text-transform: uppercase;
}

.f2xl0 {
  font: 600 48px/1.25 "Jost";
}

.f2xl1 {
  font: 400 48px/1.25 "Jost";
}
.f2l {
  font: 400 40px/1.2 "Jost";
}

.f1xl {
  font: 500 36px/44px "Montserrat";
}

.f1l {
  font: 600 32px "Montserrat";
  text-transform: uppercase;
}

.f3 {
  font: 400 32px/1.375 "IBM Plex Serif";
}

.f1m {
  font: 400 32px "Montserrat";
}

.f1s {
  font: 400 24px/32px "Montserrat";
}

.f1xs0 {
  font: 500 20px/1.6 "Montserrat";
}

.f1xs1 {
  font: 400 20px/1.2 "Montserrat";
}

.f1xs2 {
  font: 300 20px/1.2 "Montserrat";
}

.f1xxs {
  font: 400 16px/1.25 "Montserrat";
}

@media (max-width: 1200px) {
  .f3 {
    font-size: 28px;
    line-height: 32px;
  }
  .f1m {
    font-size: 24px;
  }
  .f1xs1 {
    font-size: 16px;
  }
  .f1s {
    font-size: 20px;
    line-height: 28px;
  }
  .f1l {
    font-size: 24px;
  }
  .f1xxl {
    font-size: 80px;
    line-height: 80px;
  }
  .f2l {
    font-size: 28px;
    line-height: 32px;
  }
}
@media (max-width: 767px) {
  .f3 {
    font-size: 20px;
    line-height: 24px;
  }
  .f2xl0 {
    font-size: 36px;
    line-height: 40px;
  }

  .f1xs2 {
    font-size: 16px;
    line-height: 20px;
  }
  .f2l {
    font-size: 24px;
    line-height: 28px;
  }
  .f1xs0 {
    font-size: 14px;
    line-height: 20px;
  }
}
